site_name: CSnakes
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Reference: reference.md
  - Limitations: limitations.md
  - Examples: examples.md

theme:
  name: material
  features:
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list