@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    window.setSource = async (elementId, stream, contentType, title) => {
      const arrayBuffer = await stream.arrayBuffer();
      let blobOptions = {};
      if (contentType) {
        blobOptions['type'] = contentType;
      }
      const blob = new Blob([arrayBuffer], blobOptions);
      const url = URL.createObjectURL(blob);
      const element = document.getElementById(elementId);
      element.title = title;
      element.onload = () => {
        URL.revokeObjectURL(url);
      }
      element.src = url;
    }
</script>
