name: .NET Publish (Release)

on:
  push:
    tags:
      - "v*"
    paths:
      - "src/**"

jobs:
  publish-github-packages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - name: Restore dependencies
        run: dotnet restore
        working-directory: src

      - name: Build release packages
        run: dotnet build --no-restore -c Release
        working-directory: src

      - name: Publish NuGet package CSnakes
        run: dotnet pack src/CSnakes --no-build -c Release -o ./nuget

      - name: Publish NuGet package CSnakes.Runtime
        run: dotnet pack src/CSnakes.Runtime --no-build -c Release -o ./nuget

      - name: Publish NuGet packages as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nuget-packages
          path: ./nuget

      - name: Publish to GitHub packages
        run: dotnet nuget push ./nuget/*.nupkg --source "https://api.nuget.org/v3/index.json" --api-key ${{ secrets.NUGET_API_KEY }}

      - name: Publish to GitHub packages
        run: dotnet nuget push ./nuget/*.nupkg --source "https://nuget.pkg.github.com/tonybaloney/index.json" --api-key ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./nuget/*.nupkg
